.cart {
    position: relative;
    float: right;
    width: 17rem;
    height: 6rem;
    top: -2.2rem;

    &-icon {
        position: relative;
        float: left;
        margin-right: 1rem;
        width: 2.2rem;
        height: 2.3rem;
    } 

    &-head {
        margin-bottom: .5rem;
        font-size: 2rem;
        text-align: right;
        text-transform: uppercase;
    }

    &-items {
        margin-left: 2.5rem;
        font-size: 1.2rem;
        text-align: center;
        transition: $animation-small;

        &:hover {
            color: burlywood;
            cursor: pointer;
        }
    }
}