.city {
    width: 13.6rem;
    height: 6rem;
    padding-top: 3.5rem;

    &-icon {
        position: relative;
        float: left;
        margin-right: 1rem;
        width: 1.6rem;
        height: 2.6rem;
    }

    &-chosen {
        margin-bottom: .5rem;
        font-size: 2.2rem;
        text-align: right;
        text-transform: uppercase;
    }

    &-choose {
        margin-left: 1.5rem;
        font-size: 1.2rem;
        text-align: center;
        text-decoration: underline;
        text-decoration-style: dashed;
        transition: $animation-small;

        &:hover {
            color: burlywood;
            cursor: pointer;
        }
    }
}